<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

# Python for Financial Data Science

Dr Yves J Hilpisch | The Python Quants GmbH

http://tpq.io | <a href="mailto:training@tpq.io">training@tpq.io</a>


<img src="http://hilpisch.com/images/py4fi_2nd.png" width="35%" align="left">

# Case Study

## Retrieving Data File from the Web

In [ ]:
!git clone https://github.com/tpq-classes/financial_data_science_.git
import sys
sys.path.append('financial_data_science_')

In [ ]:
url = 'http://hilpisch.com/Titanic.csv'

In [ ]:
import requests

In [ ]:
requests.get(url).text

In [ ]:
raw = requests.get(url).text

In [ ]:
raw

In [ ]:
print(raw)

## Cleaning Up the Raw Data

In [ ]:
data = raw.split('\n')
data

In [ ]:
data[1].replace('"', '')

In [ ]:
data[1].replace('"', '').split(',')

In [ ]:
data = [row.replace('"', '').split(',') for row in data[1:-1]]

In [ ]:
data

## Implementing Simple Analytics

In [ ]:
data[0][-1]

In [ ]:
int(data[0][-1])

In [ ]:
[int(row[-1]) for row in data]

In [ ]:
sum([int(row[-1]) for row in data])

In [ ]:
sum([int(row[-1]) for row in data if row[-2] == 'Yes'])

In [ ]:
sum([int(row[-1]) for row in data if row[-2] == 'Yes' and row[2] == 'Female'])

## Reading Data from Disk

In [ ]:
!cat /content/financial_data_science_/Titanic.csv

In [ ]:
f = open('/content/financial_data_science_/Titanic.csv', 'r')

In [ ]:
f

In [ ]:
f.read()

In [ ]:
f = open('/content/financial_data_science_/Titanic.csv', 'r')

In [ ]:
f.readline()

In [ ]:
f.readlines()

In [ ]:
with open('/content/financial_data_science_/Titanic.csv', 'r') as f:
    for _ in range(5):
        print(_, f.readline(), end='')

## Working with CSV Module

In [ ]:
import csv

In [ ]:
reader = csv.reader(open('/content/financial_data_science_/Titanic.csv', 'r'))

In [ ]:
reader

In [ ]:
for row in reader:
    print(row)

In [ ]:
reader = csv.reader(open('/content/financial_data_science_/Titanic.csv', 'r'))

In [ ]:
data = []
for row in reader:
    data.append(row)

In [ ]:
reader = csv.reader(open('/content/financial_data_science_/Titanic.csv', 'r'))

In [ ]:
data = [row for row in reader]

In [ ]:
data[:5]

In [ ]:
sum([int(row[-1]) for row in data[1:]])

In [ ]:
dict_reader = csv.DictReader(open('/content/financial_data_science_/Titanic.csv', 'r'))

In [ ]:
data = [row for row in dict_reader]

In [ ]:
data[:3]

In [ ]:
# for row in dict_reader:
#    print(row)

In [ ]:
sum([int(row['Freq']) for row in data])

In [ ]:
sum([int(row['Freq']) for row in data if row['Sex'] == 'Male'])

## Using pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/financial_data_science_/Titanic.csv', index_col=0)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df['Freq'].sum()

In [ ]:
df['Survived'] == 'Yes'

In [ ]:
df[df['Survived'] == 'Yes']

In [ ]:
df[df['Survived'] == 'Yes']['Freq'].sum()

In [ ]:
groups = df.groupby('Survived').sum()

In [ ]:
groups

In [ ]:
groups = df.groupby(['Class', 'Sex', 'Survived', 'Age']).sum()

In [ ]:
groups

<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

<a href="http://tpq.io" target="_blank">http://tpq.io</a> | <a href="http://twitter.com/dyjh" target="_blank">@dyjh</a> | <a href="mailto:training@tpq.io">training@tpq.io</a>